In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [10]:
individuos_tf = pd.read_csv('database/individuos_tf.csv')
individuos_tf.head()

,name,idade,estado_civil,qt_filhos,estuda,trabalha,pratica_esportes,transporte_mais_utilizado,IMC
0,1,44.0,2,1.0,1.0,0.0,1.0,0,22.200956
1,2,24.0,1,0.0,0.0,0.0,1.0,0,25.378720
2,3,35.0,0,1.0,0.0,0.0,1.0,1,19.952393
3,4,50.0,1,1.0,1.0,1.0,0.0,0,26.732053
4,5,30.0,0,2.0,1.0,0.0,1.0,0,15.295668

In [11]:
individuos_tf_train, individuos_tf_test = train_test_split(individuos_tf, test_size=0.33)
type(individuos_tf_train)

pandas.core.frame.DataFrame

In [12]:
individuos_tf_train.to_csv('database/train/individuos_tf', index=False)
print("Export succeeded.")

individuos_tf_test.to_csv('database/test/individuos_tf', index=False)
print("Export succeeded.")

Export succeeded.
Export succeeded.

In [2]:
filled_conexoes = pd.read_csv('database/filled_conexoes.csv')
filled_conexoes.head()

   V1  V2      grau       proximidade  prob_V1_V2
0   1   2  trabalho  visita_frequente    0.589462
1   1   3  trabalho       visita_rara    0.708465
2   2   5  trabalho       visita_rara    0.638842
3   3   7   familia     visita_casual    0.709608
4   4   9    amigos     visita_casual    0.465209

In [3]:
filled_conexoes['prob_V1_V2'] = filled_conexoes['prob_V1_V2'].apply(lambda x : x * 100)
filled_conexoes.head()

   V1  V2      grau       proximidade  prob_V1_V2
0   1   2  trabalho  visita_frequente   58.946191
1   1   3  trabalho       visita_rara   70.846456
2   2   5  trabalho       visita_rara   63.884237
3   3   7   familia     visita_casual   70.960824
4   4   9    amigos     visita_casual   46.520924

In [4]:
filled_conexoes_train, filled_conexoes_test = train_test_split(
                                                        filled_conexoes, 
                                                        test_size=0.33,
                                                        random_state=0)
type(filled_conexoes_train)

pandas.core.frame.DataFrame

In [5]:
filled_conexoes_train.to_csv('database/train/filled_conexoes.csv', index=False)
print("Export succeeded.")

filled_conexoes_test.to_csv('database/test/filled_conexoes.csv', index=False)
print("Export succeeded.")

Export succeeded.
Export succeeded.